<div class="hero-unit">
	<h1>Welcome Table Toppers!</h1>
		<p>
			You've found the home page for 
			<%= link_to "Show Me Your Table Top", "#" %> 
			application.
		</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
